@page
@model ClientApplication.Pages.Users.LoginPageModel
@{
}
<form method="post">
    <div asp-validation-summary=All class="text-danger"></div>
    <label asp-for="UserData.Username">Login</label>
    <input asp-for="UserData.Username" />
    <label asp-for="UserData.Password">Hasło</label>
    <input asp-for="UserData.Password" type="password" />
    <button type="submit">Login</button>
</form>